<h1>Enter in your word, and then enter in other words to check if they are anagrams to your word!</h1>
<form action='/outcome' method='get'>
  <div class="form-group">
    <label for="word">Your Word</label>
    <input required id="word" name="word" class="form-control" type="text">
    <hr>
    <h2>Now enter in three words to compare!</h2>
    <label for="word_one">Word One</label>
    <input required id="word_one" name="word_one" class="form-control" type="text">
    <br>
    <label for="word_two">Word Two</label>
    <input required id="word_two" name="word_two" class="form-control" type="text">
    <br>
    <label for="word_three">Word Three</label>
    <input required id="word_three" name="word_three" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit!</button>
</form>
